<%- include('../../shared/includes/head', { pageTitle: 'Activity' }) %>
<link rel="stylesheet" href="/styles/products.css">
<script src="/scripts/rep-management.js" defer></script>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>All Reps</h1>
    <ul id="products-grid">
      <% if(!reps){ %>
        <h2>Could not find any reps</h2>
        <% }else{for (const rep of reps) { if(!rep.isAdmin){%>
        <li>
          <%- include('./rep-item', { rep: rep }) %>
        </li>
      <% }} }%>
    </ul>
  </main>
<%- include('../../shared/includes/footer') %>