<%- include('../../shared/includes/head', { pageTitle: 'Activity' }) %>
<link rel="stylesheet" href="/styles/products.css">
<script src="/scripts/doctor-meeting-management.js" defer></script>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Recent Meetings</h1>
    <ul id="products-grid">
      <% if(!meetings){ %>
        <h2>Could not find any meeting</h2>
        <% }else{for (const meeting of meetings) { %>
        <li>
          <%- include('../includes/doctor-meeting', { meeting: meeting }) %>
        </li>
      <% }} %>
    </ul>
  </main>
<%- include('../../shared/includes/footer') %>