<%- include('../../shared/includes/head', { pageTitle: 'Activity' }) %>
<link rel="stylesheet" href="/styles/products.css">
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Recent Meetings</h1>
    <ul id="products-grid">
      <% if(!doctors){ %>
        <h2>Could not find any doctors</h2>
        <% }else{for (const doctor of doctors) { %>
        <li>
          <%- include('./doctor-item', { meeting: meeting }) %>
        </li>
      <% }} %>
    </ul>
  </main>
<%- include('../../shared/includes/footer') %>